
header {
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  height: 40px;
  padding-left: 10px;
}

nav {
  margin-left: 150px;
  margin-top: -55px;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.login {
   float: right;
   margin-top: -48px;
}

.welcomeimage{
  border-top: 1px solid lightgray;
}

.tagline{
  padding-top: 90px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.getstarted{
  padding-top: 25px;
  padding-bottom: 50px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.feature{
  padding-top: 50px;
  margin-left: 5%;
  padding-bottom: 150px;
}

.feature p {
  margin-top: -15px;
  margin-right: 100px;
}

.feature img {
  height: 60px;
}

.browse, .join, .challenge, .topic {
  float: left;
  width: 25%;
}

.learnmore {
  width: 90%;
  margin: auto;
}

.learnmore span {
 margin-top: 15px;
 float: left;
}

.learnmore a {
  margin-top: 15px;
  float: right;
}

.container {
  float: left;
  padding-top: 50px;
  padding-left: 3%
}

.title_container {
  margin-left: 2%;
  margin-bottom: 20px;
  margin-right: 5%;
}

.tittle_container span {
  float: left;
}

.title_container a.view_all {
  float: right;
}

.card {
  margin-left: 20px;
  width: 22%;
  float: left;
  border: 1px solid lightgray;
}

.card .image {
   width: 100%;
   border-radius: 2%;
}

.card_desc {
  width: 90%;
  height: 100px;
  margin: auto;
  padding: 5px;
}

.card_desc .title, .card_contest .title {
  font-weight: bold;
}

.likes {
  border-top: 1px solid lightgray;
  padding: 5px;
}

.like {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.views {
  margin-left: 50px;
  margin-top: 5px;
}

.difficulty {
  margin-top: -20px;
  margin-right: 10px;
  float: right;
}

.card_contest {
  margin-left: 20px;
  width: 22%;
  float: left;
  border: 1px solid lightgray;
}

.card_contest .image {
   width: 100%;
   border-radius: 2%;
}

.card_contest_desc {
  width: 90%;
  height: 165px;
  margin: auto;
  padding: 5px;
  position: relative;
}

.card_contest .status {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.view_contest {
  border-top: 1px solid lightgray;
  padding: 5px;
}

.view_contest button {
  width: 100%;
}

.platforms {
  margin-left: 20px;
  float: left;
  width: 133px;
  border: 1px solid lightgray;
  margin-right: -10px;
  text-align: center;
}

.platforms .image {
   width: 100%;
   border-radius: 2%;
}

.card_platform {
  margin-left: 20px;
  width: 22%;
  float: left;
  border: 1px solid lightgray;
}

.card_platform .title {
  padding-bottom: 15px;
}

.card_platform .image_logo {
   width: 80px;
   border: 1px solid lightgray;
   border-radius: 2%;
   margin-top: 15px;
   margin-left: 15px
}

.card_platform_desc {
  width: 90%;
  height: 195px;
  margin: auto;
  padding: 10px;
  position: relative;
}

.card_platform .status {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.loadmore {
  padding-bottom: 80px;
}

.loadmore button {
  position: absolute;
  left: 48%;
}

footer {
  clear: both;
  background-color: #333333;
  color: #FFFFFF;
  height: 300px;
}

.footer_container {
  float: left;
  padding-top: 20px;
  padding-left: 5%;
}

ul.nolist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer_ {
  float: right;
  padding-top: 20px;
  padding-right: 5%;
}

